body { background: #000; }

#secondary-menu-wrapper { background: #000; }

#main-menu-wrapper { background: #fff; }

#slider-wrapper { background: #f7f7f7; }

#content-wrapper, #after-content-wrapper { background: #fff; padding: 40px 0 20px; }

#after-content2-wrapper { background: #f7f7f7; padding: 40px 0 20px; }

#footer-wrapper { padding: 40px 0 20px; background: #222; }

#footer-section { background: #000; color: #fff; }
#footer-section a { color: #cfb87c; }
#footer-section a:hover { color: #fff; }

nav#secondary-menu a { color: #fff; }
nav#secondary-menu a:hover { color: #cfb87c; }

nav#main-menu a { color: #666; }
nav#main-menu a:hover { background: #000; color: #fff; }
nav#main-menu a.active-trail { background: #e7e7e7; color: #333; }

#content-wrapper { border-top: 1px solid #e0e0e0; }

.sidebars .menu-block-wrapper ul.menu a { display: block; color: #666; padding: 10px 0; border-top: 1px solid #e0e0e0; border-bottom: 1px solid #e0e0e0; margin-bottom: -1px; }
.sidebars .menu-block-wrapper ul.menu a.active { background-color: #e0e0e0; color: #222; font-weight: 600; padding: 10px; }

.block-section { padding: 20px; }

@media screen and (min-width: 740px) { .block-section-content-wrapper { max-width: none; margin: 0 auto; } }
@media screen and (min-width: 960px) { .block-section-content-wrapper { max-width: 1160px; margin: 0 auto; } }
