[submodule "themes/custom/cuzen"]
	path = themes/custom/cuzen
	url = git@github.com:CuBoulder/cuzen.git
[submodule "modules/custom/cu_atoz"]
	path = modules/custom/cu_atoz
	url = git@github.com:CuBoulder/cu_atoz.git
