@import "zen";
@import "../../cuzen/sass/modules/_colors.scss";


$zen-column-count:  1;
$zen-gutter-width:  40px;
$half-gutter: $zen-gutter-width/2;
$zen-max-width: 1200px;


#footer-top,
#footer-bottom {
  margin-left: auto;
  margin-right: auto;
  max-width: $zen-max-width;
  @include zen-clear();
  .region-footer-top,
  .region-footer-bottom {
    margin: 0 20px;
  }
}


#footer-top,
#footer-bottom {
  @include zen-grid-container;
}
#footer,
#footer-top,
#footer-bottom {
  h2.block-title {
    font-weight: 700;
  }
}


body {
  background: #000;
}
#header-wrapper {
  padding: 10px 0 20px;
}
@media (min-width: 960px) {
  #header-wrapper {
    padding: 20px 0;
  }
}
#secondary-menu-wrapper {
  background: #000;
}
#main-menu-wrapper {
  background:#fff;
  font-weight: 600;
}
#slider-wrapper {
  background: #f7f7f7;
}
#content-wrapper,
#after-content-wrapper {
  background: #fff;
  padding:40px 0 20px;
}
#after-content2-wrapper {
  background: #f7f7f7;
  padding:40px 0 20px;
}
#footer-wrapper {
  padding:40px 0 20px;
  background: #222;
  ul.list-style-underline>li {
    border-color: #555;
  }
  
}
#footer-section {
  background: #000;
  color:#fff;
  a {
    color:$cugold; 
    &:hover {
      color:#fff;
    }
  }
  .block-menu ul.menu a {
    border-color: #555;
    i.fa {
      color:#fff;
    }
  }
}
nav#secondary-menu a {
  color:#fff;
  &:hover {
    color:$cugold;
  }
}
nav#main-menu a {
  color:#333;
  &:hover {
    background: #000;
    color:#fff;
  }
  &.active-trail {
    background: #e7e7e7;
    color:#333;
  }
}


#mobile-menu {
  a {
    background: #fff;
    color:#333;
    border-top:1px solid $border_color;
    border-bottom: 1px solid $border_color;
    margin-bottom: -1px;
    font-weight: 600;
  }
  #secondary-menu-mobile a {
    background: #e7e7e7;
    border-top:1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
  }
  a.active,
  a.active-trail {
    background-color: #333;
    border-bottom-color: #333;
    border-top-color: #333;
    color:#fff;
  }
}
#content-wrapper {
  //border-top: 1px solid $border_color;
}

.sidebars .menu-block-wrapper ul.menu a {
  display: block;
  color:#666;
  padding:10px 0;
  border-top:1px solid $border_color;
  border-bottom: 1px solid $border_color;
  margin-bottom: -1px;
  &.active {
    background-color: $border_color;
    color:#222;
    font-weight: 600;
    padding:10px;
  }
}

.block-section {
  padding: 20px;
}
@media screen and (min-width:740px) {
  .block-section-content-wrapper {
    max-width: none;
    margin: 0 auto;
  }
}
@media screen and (min-width:960px) {
  .block-section-content-wrapper {
    max-width: 1160px;
    margin: 0 auto;
  }
}

#breadcrumb-wrapper {
  //border-top: 1px solid #e7e7e7;
  background: #e7e7e7;
  overflow: hidden;
  font-size: 90%;
  color:#666;
  .breadcrumbs {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
  .breadcrumb {
    margin-bottom: 0;
    padding:5px 20px;
  }
  a {
    color:#666;
  }
}
.block {
}

#intro-wide-wrapper {
  background-color: #fff;
  .cu-slider-caption {
    font-weight: 900;
    
    i.fa {
      display: none;
    }
    
  }
  .cu-slider-teaser p.lead {
    font-size: 100%;
  }
  .cu-slider-teaser {
    a {
      color:$cugold;
      &:hover,
      &:active {
        color:#fff;
      }
    }
    
  }
  .cu-content-slider-style1 .cu-slider-slide-content-inner {
    padding:20px;
  }
  .flex-direction-nav {
    display:none;
  }
}
@media screen and (min-width:720px) {
  #intro-wide-wrapper {
    .cu-slider-caption {
      font-size: 36px;
    }
    .cu-slider-teaser {
      font-size: 120%;
      line-height: 120%;
    }
    .flex-direction-nav {
      display:block;
    }
  }
}

.cu-slider-slide-content {
  max-width: 1160px;
}

#homepage-footer-content {
  text-align: center;
  padding:0 20px;
  img {
    width:100%;
    height: auto;
    max-width: 320px;
  }
}

.blockunderline .block-inner-wrapper {
  border-bottom:1px solid $border_color;
  padding:0 0 20px 0;
  p:last-child {
    margin-bottom: 0;
  }
}
.field-name-field-article-grid-more-link {
  text-align: right;
}
#branding img.custom-logo {
  //max-width:50%;
  margin-left:20px;
  height: auto;
  width: 100%;
}
@media screen and (min-width:740px) {
  #branding img.custom-logo {
    //max-width:50%;
    margin-left:20px;
    margin-top: 10px;
  }
}
@media screen and (min-width:960px) {
  #branding img.custom-logo {
    max-width:100%;
    margin-left:0px;
    margin-top: 0;
  }
}
@media screen and (max-width:480px) {
  .article-grid .article-view-mode-grid {
    float: none;
    clear: both;
    margin:0 0 20px 0;
    width:100%;
  }
}

.block-row-wrapper {
  max-width: 1200px;
}

/* degree programs view */
$zen-column-count:  1;
$zen-gutter-width:  40px;
.view-degree-programs {
  @include zen-grid-container;
  .view-content {
    overflow: hidden;
    //margin: 0 -20px;
  }
  .views-row {
    float: none;
    clear: both;
    margin-bottom: 20px;
    @include zen-grid-item(1, 1);
    img {
      display: block;
      width:100%;
      height: auto;
    }
    h2,h3 {
      font-size: 110%;
      font-weight: 600;
    }
  }
}
@media screen and (min-width:760px) and (max-width:959px) {
  $zen-column-count:  2;
  .view-degree-programs {
    .views-row {
      clear: none;
      @include zen-float();
      @include zen-grid-flow-item(1,2, false, true);
      &:nth-child(2n+2) {
        @include zen-grid-flow-item(1, 2, false, false); 
      }
      &:nth-child(2n+1) {
        @include zen-clear();
      }
    }
  }
}


@media screen and (min-width:960px) {
  $zen-column-count:  3;
  .view-degree-programs {
    .views-row {
      clear:none;
      @include zen-float();
      @include zen-grid-flow-item(1,3, false, true);
      &:nth-child(3n+3) {
        @include zen-grid-flow-item(1, 3, false, false); 
      }
      &:nth-child(3n+1) {
        @include zen-clear();
      }
    }
  }
}
.view-degree-programs label {
  display: block;
  text-align: center;
  font-size: 150%;
  padding:20px 20px;
  background: #333;
  color:#fff;
  cursor: pointer;
  margin-bottom: 10px;
}
#edit-field-degree-prog-career-int-tid-wrapper,
#edit-field-degree-prog-category-tid-wrapper {
  float: none;
  padding: 0;
}
.view-degree-programs .bef-select-as-links > .form-item {
  overflow: hidden;
  .form-item {
    text-align: center;
    a {
      display: block;
      padding: 10px 20px;
      //border-bottom: 1px solid $border_color;
      &:hover,
      &.active {
        background: $border_color;
        color:#333;
      }
    }
  }
}
@media screen and (min-width:760px) {
  .view-degree-programs .bef-select-as-links > .form-item {
    .form-item {
      width:33%;
      float:left;
      &:nth-child(3n+1) {
        @include zen-clear();
      }
    }
  }
}

/* RESOURCES */
.view-resources {
  .view-content {
    overflow:hidden;
  }
  .resource-group {
    margin-bottom:20px; 
  }
}
@media screen and (min-width:760px) and (max-width:959px) {
  $zen-column-count:  2;
  .view-resources {
    .resource-group {
      clear: none;
      @include zen-float();
      @include zen-grid-flow-item(1,2, false, true);
      &:nth-child(2n+2) {
        @include zen-grid-flow-item(1, 2, false, false); 
      }
      &:nth-child(2n+1) {
        @include zen-clear();
      }
    }
  }
}
@media screen and (min-width:960px) {
  $zen-column-count:  2;
  .view-resources {
    .resource-group {
      clear:none;
      @include zen-float();
      @include zen-grid-flow-item(1,3, false, true);
      &:nth-child(3n+3) {
        @include zen-grid-flow-item(1, 3, false, false); 
      }
      &:nth-child(3n+1) {
        @include zen-clear();
      }
    }
  }
}